<%= form_tag posts_path, method: :get do %>
  <div class="input-group my-2">
    <%= text_field_tag :q,
      params[:q],
      placeholder: 'Type search term',
      class: 'form-control',
      aria: {
        describedby: 'search-btn'
      } %>

    <div class="input-group-append">
      <%= submit_tag 'Search',
        class: 'btn btn-outline-secondary',
        id: 'search-btn' %>
    </div>

    <%= link_to 'Clear', posts_path, class: 'btn btn-light ml-1' %>
  </div>
<% end %>

<%= render(partial: @posts, spacer_template: 'spacer_line') || 'There are 0 posts, why not start by creating one?' %>

<div class="d-flex justify-content-center my-4">
  <%= paginate @posts %>
</div>
